In [3]:
import linear_regression
import pandas as pd

In [4]:
file = "/Users/jeremynixon/Dropbox/python/Ultimate Frisbee/Indoor.csv"
dataset = pd.read_csv(file)
dataset[:2]

,Name,Games,Goals,Assists,Ds,Turns,Drops,Point Blocks,Team Goals,Team Number,Team Name
0,Jonah,6,15,16,7,12,2,0,92,1,2nd Anual Joshua Thomas Fries Memorial Indoor ...
1,Mark,7,20,36,14,15,1,2,92,1,2nd Anual Joshua Thomas Fries Memorial Indoor ...

In [9]:
df = dataset[['Goals','Assists']]
df[:2]

   Goals  Assists
0     15       16
1     20       36

In [10]:
linear_regression.linear_regression(df)

(array([  2.27595720e-15,   1.00000000e+00]),
 <function linear_regression.<lambda>>)