In [8]:
import linear_regression
import ridge_regression
import KNN_Classifier
import pandas as pd
import numpy as np
import operator

In [5]:
file = "/Users/jeremynixon/Dropbox/python/Ultimate Frisbee/Indoor.csv"
dataset = pd.read_csv(file)
dataset[:2]

,Name,Games,Goals,Assists,Ds,Turns,Drops,Point Blocks,Team Goals,Team Number,Team Name
0,Jonah,6,15,16,7,12,2,0,92,1,2nd Anual Joshua Thomas Fries Memorial Indoor ...
1,Mark,7,20,36,14,15,1,2,92,1,2nd Anual Joshua Thomas Fries Memorial Indoor ...

In [6]:
df = dataset[['Goals','Assists']]
df[:2]

   Goals  Assists
0     15       16
1     20       36

In [7]:
linear_regression.linear_regression(df)

(array([  2.27595720e-15,   1.00000000e+00]),
 <function linear_regression.<lambda>>)

In [10]:
ridge_regression.ridge_regression(df, 4)

NameError: global name 'np' is not defined

In [6]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv', sep=';')
Y = df['quality'].values
df = df.drop('quality',1)

In [10]:
x_train = np.array(df[:1000])
x_test = np.array(df[1000:])
y_train = np.array(Y[:1000])
y_test = np.array(Y[1000:])

In [17]:
KNN_Classifier.KNN_Classifier(x_train, y_train, x_test, 4)

NameError: global name 'operator' is not defined

In [1]:
import csv
import random
import math
import pandas as pd
import numpy as np
import KNN_Regressor

iris = pd.read_csv('iris.data', header=None)
iris = iris.iloc[:,:-1]
pd.set_option('display.max_rows', 500)
a = iris[:30]
b = iris[50:80]
c = iris[100:130]
train = pd.concat([a,b,c])
a = iris[30:50]
b = iris[80:100]
c = iris[130:]
test = pd.concat([a,b,c])
x_train = train.iloc[:,:-1]
y_train = train.iloc[:,-1:]
x_test = test.iloc[:,:-1]
y_test = test.iloc[:,-1:]
print x_train.shape
print y_train.shape
print x_test.shape
print y_test.shape

(90, 3)
(90, 1)
(60, 3)
(60, 1)

In [3]:
KNN_Regressor.KNN_Regressor(x_train, y_train, x_test, 4)

[0.15000000000000002,
 0.2,
 0.375,
 0.35000000000000003,
 0.15,
 0.30000000000000004,
 0.2,
 0.15,
 0.175,
 0.275,
 0.22499999999999998,
 0.9750000000000001,
 0.2,
 0.22499999999999998,
 0.27499999999999997,
 0.15000000000000002,
 0.27499999999999997,
 0.22500000000000003,
 0.35,
 0.30000000000000004,
 1.35,
 1.35,
 1.65,
 1.25,
 1.525,
 1.85,
 1.65,
 1.375,
 1.525,
 1.35,
 1.525,
 1.55,
 1.475,
 1.275,
 1.4,
 1.4,
 1.625,
 1.575,
 1.3499999999999999,
 1.675,
 1.875,
 2.1500000000000004,
 1.7,
 1.875,
 1.45,
 2.05,
 1.9749999999999999,
 2.0,
 1.5499999999999998,
 1.8249999999999997,
 1.65,
 1.8249999999999997,
 1.65,
 1.8250000000000002,
 1.95,
 1.65,
 1.6749999999999998,
 1.675,
 1.9749999999999999,
 1.65]